#mainHeader {
    padding: 50px;
    margin: 20px;
    background-color: blue;
  }

a:hover {
    background-color: red;
}
  
  /* p {
    margin: 0;
    background: red;
  } */

  /* #spock p {
      background-color: blue;
  } */

  /* p {
    display: inline;
  }  */

  /* #myParagraph {
    position: absolute;
    top: 0;
    left: 0;
  } */
  
  /* #mainHeader {
  position: relative;
} */

/* #mainHeader {
  float: left;
  margin-left: 10px;
} */

  
  