#mainHeader {
    padding: 20px;
    margin: 1px;
    background-color: blue;
  }

a:hover {
    background-color: red;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.comments{
    /* padding: 50px;
    margin: 20px; */
    background-color: yellowgreen;
  }
  
  /* p {
    margin: 0;
    background: red;
  } */

  /* #spock p {
      background-color: blue;
  } */

  /* p {
    display: inline;
  }  */

  /* #myParagraph {
    position: absolute;
    top: 0;
    left: 0;
  } */
  
  /* #mainHeader {
  position: relative;
} */

/* #mainHeader {
  float: left;
  margin-left: 10px;
} */

  
  