/* styles.css */
/* div {
    width: 200px;
    height: 200px;
    background-color: red;
  } */
  
  /* div Class targets */
  /* .red-text {
    color: black;
  }
  
  .wow {
    background-color: blue;
  } */

  .blink {
    animation: blink 1s steps(1, end) infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  
  /* Reversing defaults for Inline and Block elements */
  /* a {
    display: block;
  }
  
  p {
    display: inline;
  } */