/* section {
    padding: 50px;
    margin: 20px;
    background-color: blue;
  } */
  
  /* p {
    margin: 0;
    background: red;
  } */

  #myParagraph {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #mySection {
  position: relative;
}

#anotherSection p {
  float: left;
  margin-left: 10px;
}

.clear-it {
    clear: both;
  }
  
  